<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
    <div style="color:dodgerblue">Mi nombre es {{roberto.nombre}}, tengo {{roberto.edad}} años, soy {{roberto.parentesco}} y naci en {{roberto.nacimiento}}.</div> <br>
    <div style="color:violet">Mi nombre es {{liliana.nombre}}, tengo {{liliana.edad}} años, soy {{liliana.parentesco}} y naci en {{liliana.nacimiento}}.</div> <br>
    <div style="color:dodgerblue">Mi nombre es {{juani.nombre}}, tengo {{juani.edad}} años, soy el {{juani.parentesco}} y naci en {{juani.nacimiento}}.</div> <br>
    <div style="color:dodgerblue">Mi nombre es {{yo.nombre}}, tengo {{yo.edad}} años, soy el {{yo.parentesco}} y naci en {{yo.nacimiento}}.</div>
    </p>
</body>
</html>